<section class="container">
  <div class="title"> {{title}}</div>
  <ngx-hm-carousel (ngModelChange)="change($event)" align="left" show-num="4" [drag-many]="true" class="link-container">
    <section ngx-hm-carousel-container class="content">
      <article class="item cursor-pointer t-al-c" *ngFor="let movie of source.results" ngx-hm-carousel-item>
        <a class="img" [style.backgroundImage]="movie.poster_path | image:780 | backgroundimage" [routerLink]="['/movie-detail', movie.id]">
        </a>
      </article>
    </section>
  </ngx-hm-carousel>
</section>
