.container{
  padding-left: 25px;

  @media (min-width: 768px) {
    padding-left: 60px;
  }

  .title{
    padding: 15px 5px;
  }
}

.link-container {
  .content {
    display: flex;

    article{
      &+article{
        margin: 0 5px;
      }
    }
  }
  .item {
    width: 100%;
    display: block;
    .img {
      width: 100%;
      display: block;
      background-size: cover;
      background-position: top center;
      height: 0;
      padding-bottom: 100%;

      .item-details{
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        padding: 0 0 5px 5px;
        display: none;

        @media (min-width: 768px) {
          display: block;
          padding: 0 0 15px 15px;
        }
      }
    }
  }
}

img,
a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

