.container{
  padding-left: 25px;

  @media (min-width: 768px) {
    padding-left: 60px;
  }

  .title{
    padding: 15px 5px;
  }
}

.link-container {
  .content {
    display: flex;

    article{
      &+article{
        margin: 0 5px;
      }
    }
  }
  .item {
    width: 100%;
    display: block;
    .img {
      cursor: pointer;
      width: 100%;
      display: block;
      background-size: cover;
      background-position: top center;
      height: 0;
      padding-bottom: 100%;
    }
    a {
      padding: 1em 1em;
      padding-bottom: 5px;
      position: relative;
      white-space: nowrap;
      background: pink;
    }
  }
}

img,
a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

