<div *ngIf="movie$ | async as movie">
  <section>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title [@slideRight]>
          <button mat-icon-button color="primary">
            <mat-icon aria-label="Add bookmark">{{ iconName }}</mat-icon>
          </button>
          <span>{{movie.title}} - {{movie.release_date | date: 'yyyy'}}</span>
        </mat-card-title>

        <div class="flex-spacer"></div>

        <mat-card-actions [@slideLeft]>
          <button mat-icon-button *ngIf="movie.video" (click)="videoToglle()">
            <mat-icon aria-label="View trailler">ondemand_video</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card-header>
      <mat-card-content>
        <div class="image">
          <img [src]="https://picsum.photos/300/400/?1" [alt]="movie.original_title">
        </div>
        <div class="description">
          <div class="ratings">
            <mat-icon aria-label="Movie ratte" color="accent" [@slideRight]>star</mat-icon>
            <span [@slideRight]>{{movie.vote_average}}
              <small>/10</small>
            </span>

            <div class="flex-spacer"></div>


            <div class="rating" [@slideLeft]>
              <div *ngIf="showRating">
                <app-star-rating [rating]="rating" [starCount]="10" [color]="'accent'" (ratingUpdated)="onRatingChanged($event)" [@fade]="stateRating"></app-star-rating>
              </div>

              <span *ngIf="rating && !showRating">My Rating {{rating}}</span>

              <button mat-icon-button color="primary" (click)="ratingToggle()" matTooltip="Rate this" matTooltipPosition="below" matTooltipClass="tooltip-custom"
                *ngIf="!showRating">
                <mat-icon>star_border</mat-icon>
              </button>
            </div>
          </div>
          <p>
            {{movie.overview}}
          </p>
        </div>
      </mat-card-content>

    </mat-card>
  </section>

  <div *ngIf="movie.video">
    <app-video-player [@fade]="stateVideo"></app-video-player>
  </div>

</div>
