.chips{
  display: flex;
  padding: 15px 0;

  .mat-standard-chip{
    cursor: pointer;
  }
}

.cards{
  display: flex;
  flex-wrap:wrap;
  margin:-10px 0 0 -10px;

  .card {
    display: inline-block;
    margin:10px 0 0 10px;
    flex-grow: 1;
    padding: 0;
    width: calc(100% * (1/5) - 10px - 1px);

    img{
      width: 100%;
      cursor: pointer;
    }
  }
}
