<ngx-hm-carousel
  [(ngModel)]="index"
  [autoplay-speed]="3000"
  [autoplay]="true"
  [infinite]="infinite"
  [between-delay]="2000"
  class="carousel c-accent">

  <section ngx-hm-carousel-container class="content">
    <article class="item cursor-pointer overlay"
      *ngFor="let movie of source.results"
      ngx-hm-carousel-item>
      <div class="img"
        [style.backgroundImage]="movie.backdrop_path | image:1280 | backgroundimage">
        <div class="item-detail">
          <div class="item-title">
            <h1>{{movie.title}}</h1>
          </div>
          <div class="item-description">
            <p>{{movie.overview}}</p>
          </div>
          <div class="button-row">
            <app-bookmark></app-bookmark>
            <a mat-stroked-button [routerLink]="['/movie-detail', movie.id]">+ Details</a>
          </div>
        </div>
      </div>
    </article>
  </section>

  <ng-template #carouselProgress let-progress>
    <div class="progress" *ngIf="progress > 0"
    [style.width]="(direction==='right' ? progress : 100 - progress) + '%'"></div>
  </ng-template>

</ngx-hm-carousel>
