<app-featured-carousel
  *ngIf="featuredSection.source$ | async as featured; else loadingFeatured"
  [source]="featured">
</app-featured-carousel>
<ng-template #loadingFeatured>
  LOADING...
</ng-template>

<div class="container">
  <ng-container *ngFor="let section of otherSections">
    <app-movies-carousel
      *ngIf="section.source$ | async as source; else loadingSection"
      [title]="section.title"
      [source]="source">
    </app-movies-carousel>
    <ng-template #loadingSection>
      LOADING...
    </ng-template>
  </ng-container>
</div>
